.deriv-chip {
    display: flex;
    gap: 4px;
    align-items: center;
    border: 1px solid #F8F9FA;
    border-radius: 100px;
    background: #F8F9FA;
    padding: 0 16px;
    height: 32px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.deriv-chip:hover{
    background-color: rgba(0, 0, 0, .08);
}

.deriv-chip--label {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #4F575E;
    text-align: center;
    text-transform: capitalize;
    text-wrap: nowrap;
}

.deriv-chip[data-state=selected] {
    background-color: #414652;
    border-color: #414652;
}

.deriv-chip[data-state=selected] > .deriv-chip--label {
    color: #fff;
}

.deriv-chip[data-state=selected] > svg {
    fill: #fff;
}
[data-block="Utilities.InlineSVG"] > div {
    display: flex;
    align-items: center;
}