.whatsapp-banner-container {
    position: relative;
    background: url(../img/PartnersHub.mobilewhatsappbannerbg__keRl79khdZ6ab8tTqOQWzA.jpg?keRl79khdZ6ab8tTqOQWzA) lightgray 50% / cover no-repeat;
    border-radius: 8px;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}
.desktop .whatsapp-banner-container {
    padding: 24px 36px;
    background-image: url(../img/PartnersHub.whatsapp_banner_bg__DfcBRUTRC98k3NnMqf2D6g.jpg?DfcBRUTRC98k3NnMqf2D6g);
}

.phone-image {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: auto;
    right: 6px;
}
.desktop .phone-image, .tablet .phone-image {
    right: 44px;
}

.banner-description {
    color: var(--Neutral-Neutral-0, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 60%;
}
.tablet .banner-description, .desktop .banner-description {
    font-size: 24px;
    width: auto;
}