.ph-speaker-name {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ph-speaker-name-container {
    display: flex;
    flex-direction: column;
    width: 132px;
}

.ph-speaker-role {
    overflow: hidden;
    text-overflow: ellipsis;
}
