.ph-event-details-page-container {
    display: flex;
    width: 100%;
    max-width: 800px;
    flex-direction: column;
    gap: 16px;
}
.desktop .ph-event-details-page-container {
    gap: 24px;
}

.ph-event-details-container {
    border-top: 1px solid var(--Neutral-Neutral-3, #E9ECEF);
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.desktop .ph-event-details-container {
    border-top: unset;
    gap: 24px;
}

.ph-event-details-content {
    text-align: justify;
}

.ph-event-details-banner {
    border-radius: 8px;
    height: 162px;
    object-fit: cover;
    object-position: top;
}
.desktop .ph-event-details-banner {
    border-top: unset;
    margin-top: unset;
}
.ph-event-details-header-block {
    display: none;
}
.desktop .ph-event-details-header-block {
    display: block;
}
.desktop .hide-on-desktop {
    display: none;
}
.hide-on-mobile {
    display: none;
}
.desktop .hide-on-mobile {
    display: flex;
}
div[data-block="ButtonVariants.PrimaryButton"] {
    width: unset;
}
.ph-event-details-right {
    max-width: 226px;
    min-width: 226px;
}