.non-partner-banner{
    background-color: var(--color-warning-light);
    padding-block: 16px;
    padding-inline: 24px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    gap: 16px;
}
.non-partner-banner-text{
    margin: 0;
}
.non-partner-banner-link {
    font-weight: 700;
    color: var(--color-neutral-10);
    margin-left: 4px !important;
}