.ph-collapsible-navigation-content {
    transform: scaleY(1);
    transform-origin: top;
    transition: all 0.15s ease;
    overflow: hidden;
}

.ph-collapsible-navigation-content[data-state="collapsed"] {
    transform: scaleY(0);
    transition: all 0.15s ease;
    height: 0;
}

.ph-collapse-link-icon {
    transform: rotate(180deg) !important;
}
