.referral-links-reports {
    display: flex;
    flex-direction: column;
    gap: var(--gap-s);
    padding-block: var(--padding-s);
    border-top: var(--border-normal);
    border-bottom: var(--border-normal);
}

.tablet .referral-links-reports {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
}

.tablet .referral-links-reports__button {
    align-items: center;
    background: var(--Brand-Primary-Base, #FF444F);
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    padding: 14px 16px;
    width: 100% !important;
    margin-left: 0;
}

.phone .referral-links-reports {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
}

.phone .referral-links-reports__button {
    align-items: center;
    background: var(--Brand-Primary-Base, #FF444F);
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    padding: 14px 16px;
    width: 100% !important;
    margin-left: 0;
}

.desktop .referral-links-reports__button {
        width: auto !important;
}

.desktop .referral-links-reports {
    display: flex;
    flex-direction: row;
    align-items: center !important;
    justify-content: space-between !important;
}

