.ph-badge-label {
    border-radius: 50px;
    height: 33px;
    padding: 10px 12px;
    display: flex;
    align-items: center;
}

.ph-academy-content {
    flex-grow: 1;
    width: 306px;
}
.is-rtl .ph-academy-content {
    text-align: right;
}

.ph-academy-image-text {
    padding-left: 32px;
    width: 100px;
}
.is-rtl .ph-academy-image-text {
    padding-left: 0;
    padding-right: 32px;
}

.ph-academy-image {
    height: 213px;
    padding-top: 34px;
    width: 150px;
}
.is-rtl .ph-academy-image {
    transform: translateX(30px);
}