.ph-new-title-block-container {
    align-items: center;
    border-bottom: 1px solid var(--Neutral-Neutral-3, #E9ECEF);
    display: flex;
    height: 56px;
    padding: 0 16px;
}

.ph-new-title-block-container > div {
    width: 100%;
}