.affiliates-programme {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.desktop .affiliates-programme__carousel {
    padding-block: var(--padding-s);
}
.affiliates-programme__carousel {
    padding-inline: var(--padding-s);
}

.affiliates-programme-list__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: fit-content;
    margin-left: 0;
    cursor: pointer;
}

.affiliates-programme__carousel .list-item {
    border-bottom: none;
}

.desktop .affiliates-programme-list__item-image {
    width: 245px;
}
.affiliates-programme-list__item-image {
    height: 130px !important;
    object-fit: contain !important;
}

.affiliates-programme__footer--desktop {
    width: 100%;
    display: flex;
    justify-content: center;
}


.affiliates-programme__footer--mobile {
    width: 100%;
}

.desktop .custom-ph-list-item {
    padding: 0px !important;
}

.affiliates-programme__carousel .splide__arrow--prev {
    left: -1.5rem;
}
.affiliates-programme__carousel .splide__arrow--next {
    right: -1.5rem;
}
/* .phone .affiliates-programme__carousel .splide__arrow--prev {
    left: -0.9rem;
}
.phone .affiliates-programme__carousel .splide__arrow--next {
    right: -0.9rem;
} */

.ph-youtube-carousel {
    display: flex;
    gap: 16px;
}


