.desktop .ph-navigation-link {
    display: flex;
    gap: 8px;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
}
.desktop .ph-navigation-link:hover {
    background-color: #F8F9FA;
}
.desktop .ph-navigation-link.active{
    background: #F1F3F5;
}
.desktop .ph-navigation-link.active .ph-navigation-link-label{
    font-weight: 700;
}
.ph-navigation-link-label {
    display: flex;
    flex-grow: 1;
    color: #272B30;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    user-select: none;
}
.desktop .ph-no-icon-link {
    padding: 8px 40px;
}
.desktop .ph-icon-link {
    padding: 8px;
}
.ph-link-right-icon {
    transform-origin: center center;
    transform: rotate(0);
    transition: transform 0.1s ease-in-out;
}
