.ph-main-body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

.ph-main-layout-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    flex-grow: 1;
    padding: 16px;
}
.desktop .ph-main-layout-container {
    padding: 24px 0px;
}
.ph-main-layout-sticky-footer {
    position: sticky;
    bottom: 0;
}
.ph-main-layout-sticky-header {
    position: sticky;
    top: 0;
}