.ph-custom-modal-link-container {
    display: flex;
    height: 56px;
    gap: var(--gap-xs);
    padding-block: var(--padding-xs);
    align-items: center;
    cursor: pointer;
}
.ph-custom-modal-link-container-label {
    flex-grow: 1;
}