.ph-whatsapp-banner {
    display: flex;
    padding-block: var(--padding-xs);
    padding-inline: var(--padding-s); 
    border-radius: var(--border-radius-normal);
    background-color: var(--Semantic-Success-Light, #EAF3EB);
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xs);
    cursor: pointer;
}
.desktop .ph-whatsapp-banner {
    padding-block: var(--padding-s);
}
.ph-whatsapp-banner:hover {
    box-shadow: var(--shadow-s);
}