.ph-event-details-page-container {
    display: flex;
    width: 100%;
    max-width: 800px;
    flex-direction: column;
    gap: 16px;
}
.desktop .ph-event-details-page-container {
    gap: 24px;
}

.ph-event-details-container {
    border-top: 1px solid var(--Neutral-Neutral-3, #E9ECEF);
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.desktop .ph-event-details-container {
    border-top: unset;
    gap: 24px;
}

.ph-event-details-content {
    text-align: justify;
}

.ph-event-details-banner {
    border-radius: 8px;
    height: 162px;
    object-fit: cover;
    object-position: top;
}
.desktop .ph-event-details-banner {
    border-top: unset;
    margin-top: unset;
}
.ph-event-details-header-block {
    display: none;
}
.desktop .ph-event-details-header-block {
    display: block;
}
.desktop .hide-on-desktop {
    display: none;
}
.hide-on-mobile {
    display: none;
}
.desktop .hide-on-mobile {
    display: flex;
}
.phone .ph-event-list {
    grid-template-columns: 1fr;
}
.tablet .ph-event-list {
    grid-template-columns: repeat(2, 1fr);
}
.ph-filter-sidebar .osui-sidebar__header {
    padding: 16px;
}
.ph-filter-sidebar .osui-sidebar__content {
    padding: 0px;
    display: flex;
    flex-direction: column;
}
.ph-filter-sidebar .osui-sidebar__header {
    border-bottom: 1px solid #E9ECEF;
}
.ph-sidebar-content-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    flex-grow: 1;
}
.ph-filter-sidebar {
    width: 100vw;
    max-width: 400px !important;
}
.ph-ssidebar-sticky-button {
    position: sticky;
    bottom: 0;
}
.ph-event-card-container {
    background: var(--Neutral-Neutral-0, #FFF);
    border: 1px solid var(--Neutral-Neutral-4, #DEE2E6);
    border-radius: 8px;
    flex-grow: 1;
    min-width: 276px;
    overflow: hidden;
}
.ph-event-card-container:hover {
    box-shadow: var(--shadow-s);
}

.desktop .ph-event-card-container {
    min-width: unset;
}
.desktop .ph-one-event-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

.ph-event-list {
    display: grid;
    gap: 16px;
    max-width: calc(100vw - 32px);
}
.desktop .ph-event-list {
    gap: 24px 16px;
}
.ph-event-grid-three {
    grid-template-columns: repeat(3, 1fr);
}

.ph-event-card-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.desktop .ph-one-event-card-info {
    padding: 0 24px;
}

.ph-event-card-image {
    height: 154px;
    object-fit: cover;
    object-position: top;
    width: 100%;
}
.ph-chip-container {
    margin-bottom: 16px;
    overflow-x: auto;
}
.desktop .ph-chip-container {
    margin-bottom: 24px;
}
.ph-event-card-details-container {
    max-width: 90%;
    overflow-x: auto;
}