.dashboard-mobile-header {
    display: flex;
height: 64px;
justify-content: space-between;
align-items: center;
align-self: stretch;
border-bottom: 1px solid #e6e9e9;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.header {
    box-shadow: none !important;
    background-color: #ffffff !important;
    border-bottom: 1px solid #e6e9e9;
}