.expiredClass{
    font-size: 24px;
    color: #e31837;
    font-weight: bold;
}
.hoursClass{
    color: #58595b;
    font-size: 18px;
    font-weight: bold;
}

.daysClass{
    color: #58595b;
    font-size: 18px;
    font-weight: bold;
}

.minutesClass{
    color: #58595b;
    font-size: 18px;
    font-weight: bold;
}

.secondsClass{
    color: #58595b;
    font-size: 18px;
    font-weight: bold;
}