.wallet-transactions-list {
    display: flex;
    flex-direction: column;
}

.wallet-transaction-item {
    width: 100%;
    padding: var(--space-base);
    background-color: var(--color-neutral-1);
}

.wallet-transaction-action-type {
    text-transform: capitalize;
    color: var(--color-neutral-7);
}