.maintenance-message {
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #E9ECEF;
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
