a:hover {
    text-decoration: none;
}

.hide-text-decoration {
    text-decoration: none;
}

.main-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    color: #101213;
}

.tablet .main-title,
.phone .main-title {
    font-size: 18px;
}

[data-popup-backdrop] {
    z-index: 200;
}

.hide-mobile {
    display: flex;
    flex-direction: column;
}

.tablet .hide-mobile,
.phone .hide-mobile {
    display: none;
}

.header-container {
    display: flex;
    align-items: center;
}

.cfd-modal-sticky-footer {
    position: absolute; 
    bottom:0;
    width:100%;
}

.phone .header-container,
.tablet .header-container {
    justify-content: space-between;
}

.available-accounts-loader {
    width: 100%;
    border-radius: 8px;
    height: 94px;
}

.my-account-loader {
    width: 100%;
    border-radius: 8px;
    height: 130px;
}

.available-accounts__container {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.tablet .available-accounts__container,
.phone .available-accounts__container {
    grid-template-columns: 1fr;
}

.transfer-btn {
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    width: 86px;
}

.ctrader-list-item {
    border-radius: 4px;
    padding: 8px 16px;
    border: 1px solid #E9ECEF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
}

.add-another-account {
    height: 40px;
    padding: 0px 16px;
    border-radius: 4px;
    border: 1px solid #272B30;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ctrader-redirections-desktop {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 16px 0;
}

.tablet .ctrader-redirections-desktop,
.phone .ctrader-redirections-desktop {
    display: none;
}

.mobile-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    padding-top: 16px;
    left: 16px;
    display: none;
}

.tablet .mobile-btn,
.phone .mobile-btn {
    display: flex;
}

.cTrader-content {
    height: 90vh;
    overflow-y: scroll;
}

.tablet .cTrader-content,
.phone .cTrader-content {
    height: 85vh;
}

.demo-blue-container {
    display: flex;
    align-items: center;
    background-color: #E5F5FC;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 16px;
}

.tablet .demo-blue-container,
.phone .demo-blue-container {
    margin-bottom: 0;
    margin-top: 8px;
}
