a:hover {
    text-decoration: none;
}

.main-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    color: #101213;
}

.tablet .main-title,
.phone .main-title {
    font-size: 18px;
}

[data-popup-backdrop] {
    z-index: 200;
}

.hide-mobile {
    display: flex;
    flex-direction: column;
}

.tablet .hide-mobile,
.phone .hide-mobile {
    display: none;
}

.header-container {
    display: flex;
    align-items: center;
}

.cfd-modal-sticky-footer {
    position: absolute; 
    bottom:0;
    width:100%;
}

.phone .header-container,
.tablet .header-container {
    justify-content: space-between;
}

.available-accounts-loader {
    height: 94px;
    width: 100%;
    border-radius: 8px;
}

.available-accounts__container {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.tablet .available-accounts__container,
.phone .available-accounts__container {
    grid-template-columns: 1fr;
}
