.header-wrapper {
    position: unset;
}

.wallet-transactions-list {
    display: flex;
    flex-direction: column;
}

.wallet-transaction-date {
    color: var(--color-neutral-7);
    font-size: var(--font-size-s);
}

.wallet-transaction-btn-wrapper {
    display: flex;
    gap: var(--space-s);
    overflow-x: auto;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.wallet-transaction-btn-wrapper::-webkit-scrollbar {
    display: none;
}

.btn[disabled],
.wallet-transaction-btn {
    background-color: var(--color-neutral-1);
    color: var(--color-neutral-8);
    min-width: auto;
    padding-inline: 16px;
    white-space: nowrap;
}
[data-button-group-item].button-group-selected-item,
.wallet-transaction-btn:active {
    background-color: var(--color-neutral-8);
    color: var(--color-neutral-0);
    white-space: nowrap;
}


.wallet-transaction-modal {
    position: relative;
    width: 100%;
    height: 100%;
}

.phone .cfd-modal-sticky-footer,
.tablet .cfd-modal-sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.wallets-filter-buttons {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.wallets-filter-buttons::-webkit-scrollbar {
  display: none;
}

.wallets-link, .wallets-link:visited,wallets-link:hover, wallets-link:focus {
    color: var(--color-neutral-10);
}
