.container {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #FDF6E5;
    border-radius: 8px;    
}

.tablet .container,
.phone .container {
    padding: 8px;
    margin-top: 16px;
}

.message {
    font-size: 14px;
    line-height: 22px;
    color: #101213;
}

.tablet .message,
.phone .message {
    font-size: 12px;
    line-height: 18px;
}
