.account-not-enabled {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DEE2E6;
    max-width: 308px;
    padding: 16px;
    border-radius: 8px;
    margin-left: auto;
}

.tablet .account-not-enabled,
.phone .account-not-enabled {
    justify-content: space-between;
    max-width: none;
    width: 100%;
    padding: 0;
    border: none;
    margin-left: 0;
    margin-top: 24px;
}

.enable-btn {
    max-width: 75px !important;
    width: 75px !important;
    min-width: 75px !important;
}
