.wallet-dashboard__skeleton {
    width: 100%;
    height: 110px;
    border-radius: 8px;
}

.tablet .wallet-dashboard__skeleton,
.phone .wallet-dashboard__skeleton {
    height: 153px;
}

.wallet-dashboard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 24px;
}

.wallet-dashboard__demo {
    border: 1px solid var(--color-neutral-3);
    background-color: var(--color-neutral-0);
    margin-bottom: 24px;
}

.wallet-dashboard__real {
    background-color: var(--color-neutral-1);
}

.tablet .wallet-dashboard,
.phone .wallet-dashboard {
    padding: 16px;
    flex-direction: column;
    gap: var(--space-base);
}

.wallet-dashboard__info {
    display: flex;
    gap: var(--space-s);
    align-items: center;
    width: 100%;
}

.wallet-dashboard__icon {
    width: 40px;
    height: 40px;
}

.tablet .wallet-dashboard__icon,
.phone .wallet-dashboard__icon {
    width: 32px;
    height: 32px;
}

.tablet .chevron-icon,
.phone .chevron-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.chevron-icon {
    display: none;
}

.chevron-icon__desktop {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tablet .chevron-icon__desktop,
.phone .chevron-icon__desktop {
    display: none;
}

.wallet-header-btn {
    border-radius: 50px;
    padding-inline: 16px;
    height: 40px;
    display: grid;
    place-content: center;
    background: transparent;
    cursor: pointer;
    border-color: #101213;
    border-width: 1px;
    padding: 0px 16px 0px 16px;
}

.wallet-header-btn:disabled {
    opacity: 40%;
}

.wallet-header-btn:hover {
    background-color: var(--color-neutral-2);
}

.wallet-header-btn-primary {
    background-color: var(--color-primary);
    border: none;
}

.wallet-header-btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.wallet-header-actions,
.wallet-header-actions--demo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 32px;
}

.phone .wallet-header-actions,
.tablet .wallet-header-actions {
    justify-content: space-between;
}

.phone .wallet-header-actions--demo,
.tablet .wallet-header-actions--demo {
    justify-content: space-around;
}
