[data-popup-backdrop] {
    z-index: 200;
}

.real-wallet-container {
    display: flex;
    width: 100%;
    height: 100%;
    gap: var(--space-base);
    justify-content: space-between;
}

.phone .real-wallet-container,
.tablet .real-wallet-container {
    flex-direction: column;
}

.real-wallet-left-side {
    display: flex;
    flex-direction: column;
    gap: var(--space-base);
    width: 60%;
}

.phone .real-wallet-left-side,
.tablet .real-wallet-left-side,
.demo-wallet-left-side {
    width: 100%;
}

.real-wallet-right-side {
    width: 35%;
}

.phone .real-wallet-right-side,
.tablet .real-wallet-right-side {
    width: 100%;
}

.demo-wallet-container {
    max-width: 560px;
    width: 100%;
    margin-inline: auto;
}
