.banner-container {
    margin-bottom: 24px;
}

.tablet .banner-container,
.phone .banner-container {
    margin-bottom: 16px;
}

.banner {
    height: 180px;
    border-radius: 16px 16px 0px 0px;
    background-color: #F3F4F5;
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    background-image: url('../img/tradershub.LoggedOutBannerDesktop__NN3svM7X9f7B0Wky4Z5Lsg.svg?NN3svM7X9f7B0Wky4Z5Lsg');
    background-repeat: no-repeat;
}

.phone .banner,
.tablet .banner {
    height: 144px;
    border-radius: 8px 8px 0px 0px;
    padding-right: 0;
    background-image: url('../img/tradershub.LoggedOutBannerResponsive__ocmrfzgDxnytWSXYU5AEQ.svg?ocmrfzgDxny+tWSXYU5AEQ');
}

.banner-img-responsive {
    display: none;
}

.phone .banner-img-responsive,
.tablet .banner-img-responsive {
    display: flex;
    max-width: 205px;
    align-items: flex-end;
    justify-content: flex-start;
}

.banner-title {
    display: block;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
}

.banner-content {
    padding: 32px 0 32px 48px;
}

.phone .banner-content,
.tablet .banner-content {
    padding: 37px 0 37px 16px;
}

.phone .banner-title,
.tablet .banner-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.get-started-btn {
    height: 48px;
    padding: 0px 16px;
    border-radius: 100px;
    border: 1px solid #FF444F;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    color: #FF444F;
    margin-top: 16px;
    width: fit-content;
    cursor: pointer;
}

.phone .get-started-btn,
.tablet .get-started-btn {
    height: 32px;
    padding: 0px 8px;
    font-size: 12px;
}

.trustpilot {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0px;
    border-radius: 0px 0px 16px 16px;
    border: 1px solid #E6E9E9;
    border-top: 0;
    color: #101213;
    font-size: 16px;
}

.hide-mobile {
    display: flex;
}

.phone .hide-mobile,
.tablet .hide-mobile {
    display: flex;
}

.trustpilot-text {
    margin-left: 0;
}

.phone .trustpilot-text,
.tablet .trustpilot-text {
    margin-left: 24px;
}

.rating-item {
    width: 24px !important;
}
