.wallet-transactions-list {
    display: flex;
    flex-direction: column;
}

.wallet-transaction-date {
    color: var(--color-neutral-7);
    font-size: var(--font-size-s);
}

.wallet-transaction-btn-wrapper {
    display: flex;
    gap: var(--space-s);
    overflow-x: auto;
    width: 100vw;
    -ms-overflow-style: none;
    scrollbar-width: none; 
}

.wallet-transaction-btn-wrapper::-webkit-scrollbar {
    display: none;
}

.btn[disabled],
.wallet-transaction-btn {
    background-color: var(--color-neutral-1);
    color: var(--color-neutral-8);
    min-width: auto;
    padding-inline: 16px;
}
[data-button-group-item].button-group-selected-item,
.wallet-transaction-btn:active {
    background-color: var(--color-neutral-8);
    color: var(--color-neutral-0);
}
