.eye-image {
    position: absolute;
    cursor: pointer;
    right: 16px;
    top: 25%;
}

.eye-image-error {
    position: absolute;
    cursor: pointer;
    right: 16px;
    top: 17%;
}