.my-account-card {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #DEE2E6;
    height: 130px;
}

.balance-text {
    font-size: 16px;
    font-weight: bold;
    color: #101213;
}

.balance-unavailable {
    font-size: 14px;
    font-weight: 400;
    color: #ADB5BD;
}

.disabled {
    opacity: 0.5;
}
