a:hover {
    text-decoration: none;
}

.add-more-accounts_header {
    max-width: 524px;
    padding: 12px 16px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.tablet .add-more-accounts_header,
.phone .add-more-accounts_header {
    max-width: 360px;
    border-bottom: 2px solid #F1F3F5;
}

.add-more-accounts_content {
    padding: 16px 8px;
    max-width: 508px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.tablet .add-more-accounts_content,
.phone .add-more-accounts_content {
    padding: 16px 0;
    max-width: 328px;
}

.add-more-accounts_item {
    height: 40px;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 8px;
    width: 100%;
}

.add-more-accounts_item:hover {
    background-color: #F1F3F5;
}

.show-close-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.desktop .show-close-icon {
    display: none;
}
