.wallet-fiat-onramp-content {
    display: flex;
    flex-direction: column;
}

.desktop .wallet-fiat-onramp-content {
    gap: var(--space-m);
}

.phone .wallet-fiat-onramp-content,
.tablet .wallet-fiat-onramp-content {
    gap: var(--space-base);
    height: calc(100vh - 250px);
}


.phone .wallet-fiat-onramp-message,
.tablet .wallet-fiat-onramp-message {
    margin-top: auto;
}
