.wallet-transaction-action-type {
    text-transform: capitalize;
    color: var(--color-neutral-7);
}

.wallet-transaction-item {
    width: 100%;
    padding: var(--space-base);
    background-color: var(--color-neutral-1);
}

.wallet-transaction-amount-positive {
    color: var(--color-green-dark);
}

.wallet-transaction-amount-negative {
    color: var(--color-red-dark);
}