.more-wallets__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-base);
    padding-top: 16px;
}

.phone .more-wallets__container,
.tablet .more-wallets__container {
    display: flex;
    gap: var(--space-s);
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-top: 8px;
}

.phone .more-wallets__container::-webkit-scrollbar,
.tablet .more-wallets__container::-webkit-scrollbar {
    display: none;
}

.more-wallets__card-skeleton {
    width: 100%;
    height: 100px;
    min-width: 143px;
    border: 1px solid #fafafa;
}

.more-wallets__card {
    display: flex;
    flex-direction: column;
    gap: 8px;
    min-width: 143px;
    cursor: pointer;
    padding: 16px;
}