.cfd-product-card {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #DEE2E6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cfd-product-card__small {
    height: 94px;
}

.cfd-product-card__large {
    height: 130px;
    display: block;
}
