.information-banner {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    background-color: #E7F2F4;
    border-radius: 8px;
    padding: 16px;
    font-weight: 700;
    font-size: 14px;
}

.hide-banner {
    display: none;
}

.information-banner-image {
    height: 1.5rem;
}