a:hover {
    text-decoration: none;
}

.op-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tablet .op-header, 
.phone .op-header {
    flex-direction: column;
    align-items: flex-start;
}

.left-container {
    display: flex;
    align-items: center;
}

.tablet .left-container,
.phone .left-container {
    justify-content: space-between;
    width: 100%;
    padding: 16px 0;
}

.dc {
    width: fit-content;
    position: relative;
}

.tablet .dc,
.phone .dc {
    width: 100%;
}

.asc {
    display: flex;
    align-items: center;
    padding: 16px;
    width: fit-content;
    border-radius: 8px;
    cursor: pointer;
}

.tablet .asc,
.phone .asc {
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin-top: 8px;
}

.d-c {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 16px;
    width: fit-content;
}

.tablet .d-c,
.phone .d-c {
    padding: 0;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
}











/* jkdshfikdsjfdslfjdsjfdkfddjf */

.main-title {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    color: #101213;
}

.tablet .main-title,
.phone .main-title {
    font-size: 18px;
}





[data-button-group-item].button-group-selected-item {
    color: #101213;
    background-color: #fff;
}



.account-switcher__dropdown {
    background-color: #FFFFFF;
    position: absolute;
    top: 86px;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.account-list-container {
    max-height: 260px;
    overflow-y: scroll !important;
}

.account-switcher:hover {
    background-color: #F8F9FA;
}

.remove-hover:hover {
    text-decoration: none;
}

.transactions-button {
    height: 40px;
    border: 1px solid #FF444F;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 0 16px;
    background-color: #fff;
    color: #FF444F;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.tablet .transactions-button,
.phone .transactions-button {
    width: 56px;
}

.hide-desktop {
    display: none;
}

.tablet .hide-desktop,
.phone .hide-desktop {
    display: flex;
}

.hide-mobile {
    display: flex;
    flex-direction: column;
}

.tablet .hide-mobile,
.phone .hide-mobile {
    display: none;
}



.dtrader-container {
    margin-top: 24px;
    padding: 16px;
    border: 1px solid #DEE2E6;
    border-radius: 8px;
}

.tablet .dtrader-container,
.phone .dtrader-container {
    margin-top: 16px;
}

.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.rest-of-platforms {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

.tablet .rest-of-platforms,
.phone .rest-of-platforms {
    flex-direction: column;
    margin-top: 16px;
}

.trade-types-header {
    margin: 16px 0 8px;
}

.trade-types-body {
    display: flex;
    gap: 8px;
    overflow-x: auto;
}

.phone .trade-types-body {
    overflow-x: auto;
}

.trade-type-item {
    text-decoration: none;
    background: #F8F9FA;
    border-radius: 8px;
    min-width: 240px;
    padding: 16px;
}

.phone .trade-type-item {
    min-width: 125px;
}

.tablet .trade-type-item {
    min-width: 125px;
}

.button-group-selected-item {
    height: 32px;
    min-width: 56px;
    padding: 5px 8px;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    color: #101213;
}

.button-group-selected-item {
    color: #4F575E !important;
}

.deriv-go-section {
    margin: 24px 0;
}

.phone .deriv-go-section,
.tablet .deriv-go-section {
    margin: 16px 0;
}

.account-list-item {
    border-radius: 8px;
    height: 40px;
    margin-bottom: 8px;
    padding: 0 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.account-list-item:hover,
.active-account {
    background-color: #F1F3F5;
}

.account-list-item__text {
    font-size: 14px;
    color: #101213;
}

.list-item {
    padding: 0 !important;
    border-bottom: none !important;
}

.list-item:hover {
    background-color: #FFFFFF !important;
}

[data-popup-backdrop] {
    z-index: 200;
}

.popup-dialog {
    padding: 0 !important;
}

.warning-modal {
    padding: 24px;
}

.tablet .warning-modal,
.phone .warning-modal {
    padding: 16px;
}

.demo-blue-container {
    display: flex;
    align-items: center;
    background-color: #E5F5FC;
    border-radius: 8px;
    margin-bottom: 24px;
    padding: 16px;
}

.tablet .demo-blue-container,
.phone .demo-blue-container {
    margin-bottom: 0;
    margin-top: 8px;
}

.dtrader-loader {
    height: 206px;
    width: 100%;
    border-radius: 8px;
    margin-top: 24px;
}

.account-not-enabled {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #DEE2E6;
    max-width: 308px;
    padding: 16px;
    border-radius: 8px;
}

.tablet .account-not-enabled,
.phone .account-not-enabled {
    justify-content: space-between;
    max-width: none;
    width: 100%;
    padding: 0;
    border: none;
}

.enable-btn {
    max-width: 75px !important;
    width: 75px !important;
    min-width: 75px !important;
}
