.verification-status__header{
    line-height: 28px;
}


@media only screen and (max-width: 1279px){
    .verification-status__body{
        justify-content: center;
    }
}

.workflow .ThemeGrid_MarginGutter{
    margin-left: unset !important;
} 
