.mobile-section{
    display: grid;
    background-color: var(--color-neutral-0);
    grid-template-rows: 56px auto;
}

.mobile-section-heading--title{
    color: var(--color-neutral-10);
    line-height: 28px;
    flex-grow: 1;
}

.mobile-section--content{
    height: calc(100dvh - 56px)
}

.mobile-section-seperator{
    border-bottom: 1px solid var(--color-neutral-3);
}


.mobile-section-title-layout{
    padding: 8px 16px;
    height: 56px;
}

.mobile-section-title--img{
    padding: 0 5px;
}