/* .poi-status__layout{
    padding: var(--space-m) 0;
}

.poi-status__btn{
    width: 184px;
}

.poi-status__header{
    padding: var(--space-xs) var(--space-base);
}

.poi-status__body{
    padding: var(--space-base);
}

.poi-status__footer{
    padding: var(--space-base);
} */