.item-layout{
    background-color: var(--color-neutral-1) !important;
    border: var(--border-size-s) solid var(--color-neutral-4) !important;
    border-radius: var(--space-s);
}

.item-layout.list-item:last-of-type{
    border-bottom: var(--border-size-s) solid var(--color-neutral-4) !important;
}

.selected-item{
    background-color: var(--color-neutral-3) !important;
    border: var(--border-size-m) solid var(--color-success) !important;
}

.selected-item.list-item:last-of-type{
    border-bottom: var(--border-size-m) solid var(--color-success) !important;
}

.error-item{
    background-color: var(--color-neutral-3) !important;
    border: var(--border-size-m) solid var(--color-error) !important;
}

.error-item.list-item:last-of-type{
    border-bottom: var(--border-size-m) solid var(--color-error) !important;
}


.trading-assessment__footer{
    justify-content: flex-end;
    display: flex;
    padding: var(--space-base) 0;
    border-top: 1px solid var(--color-neutral-3);
}

.question{
    padding: 0 var(--space-base);
}


.answers{
    flex-grow: 1;
}