.trading-assessment__mobile-field{
    border-radius: var(--space-xs);
    border: 1px solid var(--color-neutral-5);
    padding: 12px var(--space-base);
}


.trading-assessment__mobile-field--text, .trading-assessment__mobile-field--text span{
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trading-assessment__mobile-update--question{
    color: var(--color-neutral-8);
}