.desktop-content-header{
    color: var(--color-neutral-10);
    line-height: 30px;
}

.desktop-content-header__icon{
    padding: 0 8.5px;
    opacity: 72%;
}

.desktop-content-header__text{
    flex-grow: 1;
}

.desktop .popup-dialog{
    width: 320px !important;
}