.verificationListItem-layout{
    padding: var(--space-s) 0;
}

.verificationListItem-layout--disable{
    cursor: not-allowed !important;
}

.verificationListItem-text{
    text-overflow: ellipsis;
    color:var(--color-neutral-9);
    font-size: var(--font-size-base);
    line-height: 24px;
}
@media (max-width: 600px){
    .verificationListItem-text{
        font-size: var(--font-size-s);
        line-height: 22px;
    }
}

.verificationListItem-text--disable{
    color: var(--color-neutral-5);
}

.verificationListItem-action{
    padding: 0 7px;
    fill:var(--color-neutral-9);
}

.verificationListItem-action--disable{
    fill:var(--color-neutral-5) !important;
}

