.document-type__item{
    border-radius: 4px;
    background-color: var(--color-neutral-1);
    line-height: 22px;
}

.document-type__item--selected{
    font-weight: 700;
    border: 2px solid var(--color-success);
}

.document-type__layout{
    row-gap: var(--space-base);
}

.document-type__error-txt{
    line-height: 22px;
    padding: 0 var(--space-base);
}

@media only screen and (min-width: 1280px){
    .document-type__footer{
        justify-content: flex-end;
    }

        .document-type__btn{
        width: 128px;
    }

}

    .document-type__section-content{
        padding: 0 var(--space-base);
    }


@media only screen and (max-width: 1279px){

    .document-type__btn{
        width: 100%;
    }

    .document-type__list{
        flex-grow: 1;
    }

    .document-type__footer{
        border-top: 1px solid var(--color-neutral-3);
    }

    .document-type__section-content{
        width: 100%;
    }

    .document-type__btn-layout{
        padding: var(--space-base);
    }
}