.uploader-container{
    height: 221px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed var(--color-neutral-8);
    border-radius: var(--space-xs);
}


.uploader-container__info{
    background-color: var(--color-neutral-1);
}

.uploader-container__info-header{
    line-height: 22px;
}

.error-border{
    border: 1px dashed var(--color-error)!important;
}

.manual-doc-number__btn--layout{
    justify-content: flex-end;
}

.manual-doc-number__btn{
    width: 128px;
}

@media only screen and (min-width: 1280px){
    .selfie-upload-header{
        padding: var(--space-base) 0;
    }

    .uploader-container__info{
        margin-top: var(--space-base);
    }  
}


@media only screen and (max-width: 1279px){

    .selfie-upload-header{
        margin-bottom: var(--space-base);
    }

    .selfie-upload-container{
        padding: 0 var(--space-base) var(--space-base) var(--space-base);
    }

    .manual-doc-number__btn--layout{
        justify-content: center;
        border-top: 1px solid var(--color-neutral-3);
        padding: var(--space-base);
    }

    .manual-doc-number__btn{
        width: 100%;
    }

    .selfie-form{
        flex-grow: 1;
    }

    [data-block="Utilities.ButtonLoading"] {
        width: 100% !important;
    }
}

