.onfido-service__layout{
    background-color: white;
}

@media only screen and (min-width: 1280px){
    .onfido-service__layout{
        row-gap:var(--space-base);
    }
}

@media only screen and (min-width: 1280px){
    .onfido-container{
        padding: var(--space-base);
    }

}

@media only screen and (max-width: 1279px){
    #onfido-sdk{
        min-height: calc(100dvh - 42px) !important;
    }

    .onfido-service__layout .desktop-content-header{
        height: 42px
    }

    .onfido-service__layout a{
        display: flex;
    }

    .onfido-service__layout .desktop-content-header__text{
        justify-content: flex-start;
        margin-left: 16px;
    }

    #document-root [data-qa="page-wrapper"]{
        border-top-color: var(--color-neutral-3);
    }
}

@media only screen and (max-width:1279px) and (min-width:601px){
    #onfido-sdk{
        max-width: unset !important;
        max-height: unset !important;
    }
}

