.trading-assessment-form__header{
    color: var(--color-header);
}

.trading-assessment__layout--wrapper{
    height: calc(100dvh - 190px);
    overflow-y: auto;
}

.trading-assessment__layout{
    width: 600px;
}

.trading-assessment__footer{
    justify-content: flex-end;
    display: flex;
    padding: var(--space-base);
    border-top: 1px solid var(--color-neutral-3);
}

@media screen and (max-width: 1279px){
   .trading-assessment__footer{
       border-top: 1px solid var(--color-neutral-3);
   }

   .trading-assessment__footer .btn{
       border-radius: 100px;
   }

   .trading-assessment__layout .dropdown-container .dropdown-popup-row span{
        text-overflow: unset !important;
        white-space: normal !important;
        /* height:50px; */
    } 
}

@media screen and (min-width: 1280px){
    .trading-assessment__status{
        align-items: center;
    }
}

.trading-assessment__btn{
    border-radius: 100px !important;
}

.appropriateness-warning-modal{
    max-width: 440px !important;
    border-radius: var(--space-s) !important;
}

.appropriateness-warning-modal__body{
    text-align: justify;
}

.risk-assessment-warning{
    background-color: var(--color-error-light);
    border-radius: var(--space-s);
    margin-bottom: var(--space-m);
}

.risk-assessment-warning__icon{
    padding: 0 var(--space-xs);
}

.trading-assessment__mobile-update--question{
    color: var(--color-neutral-8);
}

.trading-assessment__mobile--form{
    height: calc(100dvh - 145px);
}

.trading-assessment__mobile-update--question-answer__header{
    border-bottom: 2px solid var(--color-neutral-2);
}

.trading-assessment__mobile-update--question-answer__body, .assessment-status{
    flex-grow: 1;
}

.trading-assessment__status{
    background-color: var(--color-neutral-0);
}

.appropriateness-warning-modal__mobile--header{
    height: 48px;
    padding: var(--space-xs) var(--space-base);
    border-bottom: 1px solid var(--color-neutral-2);
}

.completion-status__btn{
    width: 216px;
}

.completion-status__body{
    width:400px
}

.new-form__footer{
    padding: var(--space-base) 72px var(--space-base) var(--space-base);
}