.mobile_statelist-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:16px;
   
}

.mobile_statelist__heading-text{
    color: var(--color-neutral-10);
    line-height: 28px;
}

.list-container{
    overflow-y: auto;
    height: calc(100dvh - 249px);
}

.item-list{
    border-bottom: unset !important;
}

.selected-item{
    border-radius: 8px;
    background-color: var(--color-neutral-2) !important;
    padding: var(--space-s) var(--space-m) !important;
}

