.document-number__btn{
    width: 128px;
}


@media only screen and (max-width: 1279px){
    .document-number__form {
        padding: var(--space-base);
    }

    .document-number__footer{
        border-top: 1px solid var(--color-neutral-3);
        padding: var(--space-base);
    }


    .document-number__section-content{
        width:100%
    }

    .document-number__btn{
        width:100%
    }
}

@media only screen and (min-width: 1280px){
    .document-number__footer{
        justify-content: flex-end;
    }

    .document-number__section-content{
        padding: var(--space-base);
    }

    .document-number__btn{
        width: 128px;
    }
}

.document-number__layout{
    row-gap: var(--space-base);
}

[data-checkbox].error-state::before{
    border-color: var(--color-error);
}