.banner-message-layout{
    border-radius: var(--space-s);
    line-height: 18px;
}

.Error-banner{
    background-color: var(--color-error-light);
}

.Info-banner{
    background-color: var(--color-info-light);
}

.Warning-banner{
    background-color: var(--color-warning-light);
}