.badge--container{
    padding: 3px 8px;
}

.badge--text{
    line-height: 18px;
}

.badge--icon{
    position: relative;
    top: 1px;
}

.badge-verified{
    background-color: var(--color-green-lightest) !important;
    color:var(--color-green-darker) !important;
}

.badge-verified--icon{
        fill: var(--color-green-darker);
}

.badge-failed{
    background-color: var(--color-red-lightest) !important;
    color:var(--color-red-darker2) !important;
}

.badge-failed--icon{
        fill: var(--color-red-darker2);
}

.badge-inreview{
    background-color: var(--color-orange-lightest) !important;
    color:var(--color-orange-darker) !important;
}

.badge-inreview--icon{
        fill: var(--color-orange-darker);
}

.badge-pending{
    background-color: var(--color-yellow-lightest) !important;
    color:var(--color-yellow-darker) !important;
}

.badge-pending--icon{
        fill: var(--color-yellow-darker);
}