.link-text{
    color: var(--color-neutral-8);
    line-height: 21px;
}

.layout-top--mobile{
    height: 48px;
    padding: 0 var(--space-base);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-neutral-3);
    background-color: var(--color-neutral-0);
}