@font-face {
 font-family: 'icomoon';
 src:  url('../icomoon__Zwiiq6sc0Xcph5gnO0YerQ.eot?Zwiiq6sc0Xcph5gnO0YerQ') format('embedded-opentype'),
    url('../icomoon__L5kXgbB856Has4tyzA6OKg.ttf?L5kXgbB856Has4tyzA6OKg') format('truetype'),
    url('../icomoon__L3hYX5seQTmC3ZB942q1A.woff?L3hY_X5seQTmC3ZB942q1A') format('woff'),
    url('../icomoon__INxTT01dg0pOGjf5VnOxA.svg?INxT_T01dg0pOGjf5VnOxA') format('svg');
 font-weight: normal;
 font-style: normal;
 }
 
 .custom-icon {
  display: inline-block;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
 }

.custom-icon-file:before {
  content: "\e900";
}

.drop-area.dragover {
    content: "";
}

.drop-area.dragover {
    /* box-shadow: 0px 0px 10px 5px var(--color-primary); */
    box-shadow: 1px 0 20px 16px #393939bf inset;
}
.osui-gallery > .list{
    display: block !important;
}
.remove-doc{
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: black;
    color: white;
}
.preview-height{
    height: 224px!important;
}